@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: Montserrat, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

.header {
  background-image: url(../images/main-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fafafa;
  position: relative;
  color: #737373;
}

.header-navigation {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
}

.logo-and-navigation {
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.header-logo {
  width: 106px;
  height: 32px;
  margin-right: 135px;
}

.navigation-menu {
  display: flex;
  font-size: 14px;
}

.navigation-menu-item {
  list-style-type: none;
}

.navigation-menu-item:nth-child(n + 2) {
  margin-left: 20px;
}

.header-menu-link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.header-menu-link:hover {
  color: #00A0C1;
}

.heder-search-icon {
  display: none;
}

.header-basket-icon {
  display: none;
}

.header-navbar-toggler {
  width: 30px;
  height: 15px;
  cursor: pointer;
}

.header-mobile-menu {
  display: none;
}

.header-conteiner {
  width: 73%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 270px;
}

.header-title {
  font-size: 58px;
  font-weight: 900;
  text-transform: uppercase;
  color: #252B42;
}

.header-text {
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.header-button-menu {
  display: flex;
}

.header-button-link {
  width: 167px;
  height: 48px;
  display: block;
  border: 1px solid #00A0C1;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 48px;
  color: #00A0C1;
  cursor: pointer;
}

.header-button-link:nth-child(n + 2) {
  margin-left: 10px;
}

.header-button-link:hover {
  background-color: #FFA62B;
  border: 1px solid #FFA62B;
  color: #ffffff;
}

.header-description {
  display: flex;
  position: absolute;
  bottom: -20px;
}

.header-description-card {
  width: 33.3%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 35px 20px 35px 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.header-description-card:nth-child(n + 2) {
  margin-left: 30px;
}

.header-description-card:last-child {
  background-color: #00A0C1;
  color: #ffffff;
}

.description-card-logo {
  width: 48px;
  height: 48px;
}

.description-card-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #252B42;
}

.description-card-text {
  width: 80%;
  font-size: 14px;
}

.last-heading {
  color: #ffffff;
}

.block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  color: #737373;
}

.advantages-block {
  padding-top: 192px;
  padding-bottom: 80px;
  font-size: 16px;
  text-align: center;
}

.heading-and-text {
  width: 45%;
  margin-bottom: 50px;
}

.heading-block {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #252B42;
}

.advantages-title {
  text-transform: uppercase;
}

.block-text {
  font-size: 14px;
  line-height: 1.4em;
}

.container {
  width: 73%;
  display: flex;
}

.container-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.container-item:nth-child(n + 2) {
  margin-left: 30px;
}

.advantages-card {
  padding-bottom: 30px;
  padding-top: 30px;
}

.advantages-logo {
  width: 48px;
  height: 48px;
}

.advantages-number {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #252B42;
}

.advantages-hint {
  font-weight: 700;
  text-transform: uppercase;
}

.practice-advice {
  padding-top: 125px;
  padding-bottom: 80px;
}

.heading-text {
  width: 35%;
  margin-bottom: 45px;
  text-align: center;
}

.practice-advice-content {
  box-sizing: border-box;
  padding: 30px 25px 30px 30px;
  margin-bottom: auto;
}

.practice-advice-title {
  width: 70%;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #252B42;
}

.practice-advice-text {
  font-size: 14px;
}

.practice-advice-media {
  width: 100%;
}

.practice-advice-img {
  display: block;
  width: 100%;
}

.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;
  color: #737373;
}

.preview {
  width: 35%;
  margin-bottom: 100px;
  text-align: center;
}

.about-company {
  margin-bottom: 15px;
}

.video-and-description {
  width: 73%;
  display: flex;
}

.video {
  width: 57%;
  margin-right: 120px;
}

.video-player {
  width: 100%;
}

.description-about {
  width: 32%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.about-company-title {
  font-size: 40px;
  font-weight: 700;
  color: #252B42;
}

.about-company-text {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 14px;
}

.about-company-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-company-item {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.about-company-item:nth-child(n + 2) {
  margin-top: 30px;
}

.about-company-icon {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

.heading-about-company {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #252B42;
}

.clients-and-subscribe {
  background-color: #fafafa;
}

.clients {
  width: 73%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 137px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients-logo {
  width: 15%;
}

.clients-logo:nth-child(n + 2) {
  margin-left: 30px;
}

.brand-logo {
  width: 100%;
}

.subscribe {
  background-color: #252B42;
  height: 77px;
  position: relative;
}

.subscribe-form-container {
  width: 68%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 30px 40px 30px 50px;
  background-color: #16697A;
  color: #ffffff;
  position: absolute;
  left: 16%;
  bottom: 22px;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-form-hint {
  width: 40%;
  margin-right: 5%;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
}

.form-input-and-button {
  width: 55%;
  display: flex;
}

.subscribe-form-input {
  width: calc(100% - 117px);
  padding: 15px 20px;
  box-sizing: border-box;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px 0 0 5px;
  font-family: inherit;
  font-size: 14px;
}

.subscribe-button {
  width: 117px;
  background-color: #FFA62B;
  border: 1px solid #FFA62B;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  font-family: inherit;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.subscribe-button:hover, .callback-button:hover {
  background-color: #f8b704;
}

.get-in-touch {
  padding-top: 80px;
  padding-bottom: 148px;
  background-color: #f3f3f3;
}

.contact-container {
  width: 69%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-card {
  width: 33.3%;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}

.contact-card-icon {
  width: 72px;
  height: 72px;
  fill: #00A0C1;
}

.contact-description {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #252B42;
}

.button-hint {
  margin-top: 15px;
  display: block;
  font-size: 16px;
  font-weight: 700;
}

.button-contact {
  width: 160px;
  height: 45px;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 45px;
  border: 1px solid #FFA62B;
  border-radius: 5px;
  color: #FFA62B;
  text-decoration: none;
}

.button-contact:hover {
  background-color: #FFA62B;
  color: #FFFFFF;
}

.item-onfocus {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252B42;
}

.geo-icon {
  fill: #ffffff;
}

.onfocus-content {
  color: #FFFFFF;
}

.onfocus-button {
  color: #ffffff;
  border: 1px solid #FFFFFF;
}

.onfocus-button:hover {
  background-color: #ffffff;
  color: #252B42;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-callback {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fafafa;
}

.footer-callback-container {
  width: 76%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.callback-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #252B42;
}

.callback-text {
  font-size: 14px;
  font-weight: 500;
  color: #737373;
}

.callback-button {
  width: 165px;
  height: 58px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 58px;
  color: #ffffff;
  background-color: #FFA62B;
  cursor: pointer;
}

.footer-menu {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #16697A;
  color: #ffffff;
}

.footer-menu-container {
  width: 76%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.footer-menu-card {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.footer-menu-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
}

.footer-menu-list {
  list-style-type: none;
  font-size: 14px;
  font-weight: 500;
}

.footer-list-item:nth-child(n + 2) {
  margin-top: 10px;
}

.footer-list-item-link {
  text-decoration: none;
  color: #ffffff;
}

.footer-list-item-link:hover {
  color: #f3f3f3;
}

.contact-list-item {
  font-size: 14px;
  font-style: normal;
}

.contact-list-item::before {
  content: "";
  width: 25px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.footer-tel-icon::before {
  background-image: url(../svg/footer-tel-icon.svg);
}

.footer-geo-icon::before {
  background-image: url(../svg/footer-geo-icon.svg);
}

.footer-email-icon::before {
  background-image: url(../svg/footer-email-icon.svg);
}

.contact-list-item:nth-child(n + 2) {
  margin-top: 10px;
}

.contact-list-item-link {
  text-decoration: none;
  color: #ffffff;
}

.footer-social-link {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fafafa;
}

.social-link-container {
  width: 76%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.copyright-hint {
  font-size: 14px;
  font-weight: 600;
  color: #737373;
}

.social-link-list {
  display: flex;
  list-style-type: none;
}

.social-link-item {
  margin-right: 20px;
}

.social-link {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  display: block;
  cursor: pointer;
}

.facebook {
  background-image: url(../svg/facebook-filled.svg);
}

.instagram {
  background-image: url(../svg/instagram.svg);
}

.twitter {
  background-image: url(../svg/twitter.svg);
}

.youtube {
  background-image: url(../svg/youtube.svg);
}

.social-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
}


/* Планшетная версия */

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .header {
    background-image: url(../images/main-banner-768.jpg);
  }

  .header-logo {
    width: 100px;
    height: 30px;
    margin-right: 65px;
  }

  .logo-and-navigation {
    padding-left: 3%;
  }

  .header-navbar-toggler {
    width: 24px;
    height: 12px;
  }

  .header-conteiner {
    width: 85%;
    margin-top: 90px;
  }
  
  .header-content {
    margin-bottom: 250px;
  }
  
  .header-title {
    font-size: 46px;
  }
  
  .header-text {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .header-button-link {
    width: 165px;
    height: 45px;
    line-height: 45px;
    background-color: #00A0C1;
    color: #ffffff;
  }
  
  .header-description-card {
    padding: 25px 20px 25px 30px;
  }

  .header-description-card:nth-child(n + 2) {
    margin-left: 20px;
  }
  
  .description-card-logo {
    width: 40px;
    height: 40px;
  }
  
  .description-card-title {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 21px;
  }
  
  .description-card-text {
    width: 85%;
    font-size: 13px;
  }

  .advantages-block {
    padding-top: 130px;
    padding-bottom: 50px;
  }
  
  .heading-block {
    font-size: 35px;
  }

  .container {
    width: 85%;
  }
  
  .container-item:nth-child(n + 2) {
    margin-left: 20px;
  }

  .advantages-card {
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .advantages-logo {
    width: 40px;
    height: 40px;
  }

  .advantages-number {
    font-size: 32px;
  }
  
  .advantages-hint {
    font-size: 12px;
  }
  
  .practice-advice {
    padding-top: 60px;
  }
  
  .heading-text {
    width: 45%;
  }

  .practice-advice-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .practice-advice-item {
    width: 42%;
    margin-bottom: 20px;
  }

  .container-item:nth-child(n + 2) {
    margin-left: initial;
  }

  .practice-advice-item:nth-child(2n + 2) {
    margin-left: 20px;
  }
  
  .preview {
    width: 45%;
    margin-bottom: 85px;
  }
  
  .video-and-description {
    width: 85%;
    align-items: center;
  }

  .video {
    width: 47%;
    margin-right: 6%;
  }
  
  .description-about {
    width: 47%;
    padding-top: 0;
  }

  .about-company-title {
    font-size: 30px;
  }
  
  .about-company-text {
    margin-bottom: 30px;
    font-size: 13px;
  }
  
  .about-company-item {
    font-size: 13px;
  }

  .about-company-icon {
    width: 30px;
    height: 30px;
  }
  
  .clients {
    width: 85%;
    padding-bottom: 100px;
  }
  
  .clients-logo:nth-child(n + 2) {
    margin-left: 20px;
  }
  
  .subscribe-form-container {
    width: 80%;
    padding-left: 40px;
    left: 10%;
  }
  
  .subscribe-form-hint {
    font-size: 19px;
  }
  
  .get-in-touch {
    padding-bottom: 80px;
  }
  
  .contact-container {
    width: 85%;
    margin-top: 20px;
  }

  .contact-card {
    width: 33.3%;
    padding: 30px;
  }
  
  .contact-card-icon {
    width: 60px;
    height: 60px;
  }

  .contact-description {
    font-size: 12px;
  }

  .button-hint {
    font-size: 14px;
  }
  
  .button-contact {
    width: 150px;
  }
  
  .item-onfocus {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  
.footer-callback {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-callback-container {
  width: 85%;
}

.callback-title {
  margin-bottom: 5px;
  font-size: 22px;
}

.callback-button {
  width: 160px;
  height: 52px;
  line-height: 52px;
}

.footer-menu {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-menu-container {
  width: 87%;
}

.footer-menu-card {
  width: 15%;
}

.footer-menu-card:nth-child(n + 2) {
  margin-left: 20px;
}

.footer-contact-card {
  width: 26%;
}

.footer-menu-title {
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-menu-list {
  font-size: 11px;
}

.contact-list-item {
  font-size: 11px;
}

.contact-list-item::before {
  width: 15px;
  height: 20px;
  background-size: 15px;
}

.social-link-container {
  width: 85%;
}

.social-link {
  width: 20px;
  height: 20px;
  background-size: 20px;
}

}

/* Мобильная версия */

@media screen and (min-width: 320px) and (max-width: 767px) {

  .header-navigation {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: #F6F6F6;
  }

  .logo-and-navigation {
    padding-left: 0;
  }
  
  .header-logo {
    margin-right: 26%;
  }
  
  .navigation-menu {
    display: none;
  }

  .header-navbar-icon {
    display: flex;
  }
  
  .heder-search-icon, .header-basket-icon, .header-navbar-toggler {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .header-basket-icon {
    margin-right: 32px;
    margin-left: 24px;
  }
  
  .header-mobile-menu {
    display: none;
    text-align: center;
    background-color: #F6F6F6;
  }

  .header-mobile-menu.open {
    display: block;
  }

  .mobile-menu {
    padding-top: 100px;
    padding-bottom: 98px;
  }

  .mobile-menu-list {
    list-style: none;
  }

  .mobile-menu-item {
    font-size: 30px;
  }

  .mobile-menu-item:nth-child(n + 2) {
    margin-top: 30px;
  }

  .mobile-menu-link {
    display: block;
    text-decoration: none;
    color: #737373;
  }

  .header-conteiner {
    width: 100%;
    box-sizing: border-box;
    padding: 80px 40px 205px;
    margin-top: 0;
  }

  .header-content {
    width: 100%;
    align-items: center;
    margin-bottom: 80px;
    text-align: center;
  }

  .header-title {
    font-size: 40px;
    font-weight: 700;
  }
  
  .header-text {
    width: 63%;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
  }

  .header-button-menu {
    flex-direction: column;
  }
  
  .header-button-link {
    width: 185px;
  }

  .header-button-link:first-child {
    background-color: #FFA62B;
    border: 1px solid #FFA62B;
    color: #ffffff;
  }
  
  .header-button-link:nth-child(n + 2) {
    margin-left: 0;
    margin-top: 25px;
  }

  .header-description {
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: static;
    bottom: initial;
  }
  
  .header-description-card {
    width: 100%;
    max-width: 400px;
    padding: 35px 40px;
    box-shadow: none;
  }
  
  .header-description-card:nth-child(n + 2) {
    margin-left: 0;
    margin-top: 30px;
  }

  .advantages-block {
    padding-top: 98px;
    padding-bottom: 70px;
  }

  .heading-and-text {
    width: 61%;
    margin-bottom: 75px;
  }

  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .container-item {
    width: 58%;
  }

  .container-item:nth-child(n + 2) {
    margin-left: 0;
    margin-top: 30px;
  }

  .advantages-card {
    max-width: 250px;
    padding: 30px 20px;
  }

  .practice-advice {
    padding-top: 98px;
    padding-bottom: 106px;
  }

  .heading-text {
    width: 65%;
    margin-bottom: 75px;
  }
  
  .practice-advice-content {
    padding: 30px;
  }
  
  .practice-advice-title {
    width: 75%;
  }
  
  .preview {
    width: 80%;
  }

  .video-and-description {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }

  .video {
    width: 100%;
    margin-right: 0;
    margin-bottom: 52px;
  }

  .description-about {
    width: 100%;
  }

  .clients {
    width: 40%;
    padding-top: 80px;
    padding-bottom: 35px;
    flex-direction: column;
  }
  
  .clients-logo {
    width: 153px;
  }
  
  .clients-logo:nth-child(n + 2) {
    margin-left: 0;
    margin-top: 60px;
  }

  .subscribe {
    height: initial;
  }
  
  .subscribe-form-container {
    width: 100%;
    padding: 30px 38px;
    position: static;
    left: initial;
    bottom: initial;
  }
  
  .subscribe-form {
    flex-direction: column;
    align-items: center;
  }
  
  .subscribe-form-hint {
    width: 80%;
    margin-right: initial;
    margin-bottom: 30px;
    text-align: center;
  }

  .form-input-and-button {
    display: flex;
    justify-content: center;
    width: 95%;
  }

  .subscribe-form-input {
    width: 62%;
  }
  
  .get-in-touch {
    padding-top: 75px;
    padding-bottom: 130px;
  }

  .contact-container {
    width: 80%;
    margin-top: 0;
    flex-direction: column;
  }
  
  .contact-card {
    width: 100%;
    max-width: 400px;
  }
  
  .contact-card:nth-child(n + 2) {
    margin-top: 30px;
  }
  
  .contact-description {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .footer-callback-container {
    width: 60%;
    flex-direction: column;
  }

  .callback-hint {
    width: 80%;
  }
  
  .callback-button {
    width: 160px;
    margin-top: 50px;
  }

  .footer-menu-container {
    width: 60%;
    flex-direction: column;
  }
  
  .footer-menu-card {
    width: 100%;
  }

  .footer-menu-card:nth-child(n + 2) {
    margin-top: 30px;
  }
  
  .footer-social-link {
    padding-bottom: 55px;
  }

  .social-link-container {
    width: 60%;
    flex-direction: column;
  }

  .social-link-menu {
    margin-top: 50px;
  }
  
}